{% extends 'base.html.twig' %}

{% block title %}Channels' list{% endblock %}

{% block body %}
    <h1>Choose your theme to discuss</h1>
    {% if allChannels is empty %}
        <h2 class="text-bg-primary w-25 p-3 text-center">Not channels yet</h2>
    {% else %}
    <div class="list-group">
        {% for channel in allChannels %}
            <a href="{{ path('app_channel', {id:channel.id}) }}" class="list-group-item">{{ channel.name }}</a>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
